.formContainer{
    width: 50%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(238, 211, 55, 0.841);
    
}
.title{
    text-align: center;
}

form label{
    display: block;
    padding: 10px;
    font-weight: 700;
}
form input{
    width: 80%;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
}
form button{
    width: 80%;
    background-color: rgba(238, 211, 55, 0.841);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    font-weight: 700;
}
.formLink{
    
    color:rgba(238, 211, 55, 0.841) ;
    text-decoration: none;
}